:root {
  --color-bg: #233547;
  --color-bg-dark: #15283a;
  --color-bg-light: #394c5f;
  --color-text-light: #ccd1d5;
  --color-text-dark: #020c17;
  --color-primary-bg: #386253;
  --color-primary-bg-light: #527c6d;
  --color-primary-bg-lighter: #739589;
  --color-accent: #424066;
  --color-accent-dark: #2b294f;
  --font-variable: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-mono: Menlo, Monaco, Inconsolata, monospace;
  --border-radius-small: 4px;
  --border-radius-med: 8px;
  --border-radius-large: 12px;

  /* https://www.joshwcomeau.com/shadow-palette/ */
  --shadow-color: 210deg 49% 9%;
  --shadow-elevation-low: 0.5px 0.7px 0.6px hsl(var(--shadow-color) / 0.69),
    0.7px 1px 0.9px -2.5px hsl(var(--shadow-color) / 0.46),
    2px 2.9px 2.6px -5px hsl(var(--shadow-color) / 0.23);
  --shadow-elevation-medium: 0.5px 0.7px 0.6px hsl(var(--shadow-color) / 0.58),
    0.7px 0.9px 0.9px -1.2px hsl(var(--shadow-color) / 0.46),
    1.7px 2.5px 2.3px -2.5px hsl(var(--shadow-color) / 0.35),
    4.5px 6.5px 5.9px -3.7px hsl(var(--shadow-color) / 0.23),
    10px 14.5px 13.2px -5px hsl(var(--shadow-color) / 0.12);
  --shadow-elevation-high: 0.5px 0.7px 0.6px hsl(var(--shadow-color) / 0.54),
    0.6px 0.8px 0.8px -0.6px hsl(var(--shadow-color) / 0.48),
    1px 1.5px 1.4px -1.1px hsl(var(--shadow-color) / 0.43),
    2.3px 3.4px 3.1px -1.7px hsl(var(--shadow-color) / 0.38),
    4.9px 7px 6.4px -2.2px hsl(var(--shadow-color) / 0.32),
    9px 13.1px 11.9px -2.8px hsl(var(--shadow-color) / 0.27),
    15.2px 22px 20.1px -3.3px hsl(var(--shadow-color) / 0.21),
    23.9px 34.5px 31.5px -3.9px hsl(var(--shadow-color) / 0.16),
    35.4px 51.2px 46.7px -4.4px hsl(var(--shadow-color) / 0.11),
    50.1px 72.6px 66.2px -5px hsl(var(--shadow-color) / 0.05);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-light);
  font-family: var(--font-variable);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[href] {
  color: var(--color-primary-bg-lighter);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#root {
  animation-name: fadeIn;
  animation-duration: 800ms;
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root {
  isolation: isolate;
}
